@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .details{
        text-align: center;
    }

    .details ul li input{
        height:30px;

        outline: none;
    }

        .details ul li input:focus{
            border: 1px solid rgb(182 255 0);
        }
</style>
<div class="details">
    <p style="font-size: 20px">Đổi mật khẩu</p>
    @using (Html.BeginForm("ChangePassword", "Account",new { id = (int)Session["UserId"]}, FormMethod.Post, new { @Name = "CPForm", @onsubmit = "return ChangePasswordFrom();" }))
    {
        <ul>
            <li style="font-size: 16px">
                <p>Mật khẩu cũ</p>
                <input type="password" name="oldPass" id="" />
            </li>
            <li style="font-size: 16px">
                <p>Mật khẩu mới</p>
                <input type="password" name="newPass" id="" />
            </li>
            <li style="font-size: 16px">
                <p>Xác nhận mật khẩu mới</p>
                <input type="password" name="confirmPass" id="" />
            </li>
        </ul>
        <br />
        <input class="btn btn-blue" type="submit" value="Lưu" />
    }
</div>

@section ValidateScripts{
    <script type="text/javascript">
        function ChangePasswordFrom() {
            var oldPass = document.CPForm.oldPass.value;
            var newPass = document.CPForm.newPass.value;
            var confirmPass = document.CPForm.confirmPass.value;
            if (oldPass == "") {
                document.CPForm.oldPass.focus();
                alert("Mật khẩu cũ không được để trống!!");
                return false;
            }
            if (newPass == "") {
                document.CPForm.newPass.focus();
                alert("Mật khẩu mới không được để trống!!");
                return false;
            }
            if (confirmPass == "") {
                document.CPForm.confirmPass.focus();
                alert("Hãy xác nhận mật khẩu!!");
                return false;
            }
            if (confirmPass != newPass) {
                alert("Mật khẩu phải trùng nhau!!");
                return false;
            }
            if (oldPass == newPass) {
                alert("Mật khẩu mới không được trùng mật khẩu cũ!!");
                return false;
            }
            return true;
        }
    </script>
}
