@{
    var listCategory = Session["Categories"] as List<Models.EF.Category>;
}
<div class="header-row">
    <div class="header-logo">
        <a href="/">
            <picture>
                <source srcset=""
                        type="image/webp">
                <img src="~/wwwroot/Images/logo-yamaha.png"
                     style="width: 120px;"
                     alt="" class="webpexpress-processed">
            </picture>
        </a>
    </div>
    <nav class="navigation">
        <div class="navigation-top">
            <ul class="navigation-top__list">
                @foreach (var category in listCategory)
                {
                    <li class="navigation-top__item top-search--hide" data-hover="true">
                        <a class="navigation-top__link" href="/CategoriesDetail/Index/@category.ID">@category.Name</a>
                    </li>
                }
                <li class="navigation-top__item top-search--input">
                    <a class="navigation-top__link" href="#">Giỏ hàng</a>
                </li>
                @if (Session["username"] != null)
                {
                    <li class="navigation-top__item top-search--hide" data-hover="true">
                        <div class="dropdown">
                            <a onclick="myFunction()" class="dropbtn">@Session["username"]</a>
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#">Thông tin khách hàng</a>
                                <a href="#">Đăng nhập</a>
                                <a href="/Login/Logout">Đăng xuất</a>
                            </div>
                        </div>
                    </li>
                }
                else
                {
                    <li class="navigation-top__item top-search--hide" data-hover="true">
                        <a class="navigation-top__link" href="/Login">Đăng nhập</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="hamburger-nav" data-menu="toggleClick">
        <div class="hamburger-nav__menu">
            <div class="hamburger-nav__icon"></div>
        </div>
        <div class="hamburger-nav__bg"></div>
    </div>
</div>